@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Paytone+One&family=Smooch+Sans:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s;
    font-weight: 400;
}

html, body{
    min-height: 100%;
}

body {
    font-family: 'Paytone One', sans-serif;
    color: #D4E7F4;
    background-image: url(backgroundstarwars.jpg); 
    background-size:1664 px 1058 px;
    background-position: center;
     line-height: 1.25;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-right: 4vw;
}

a:hover {
    color: #5FB3F2;
    text-decoration: underline;
}

header, main, footer {
    width: 80vw;
    margin: 0;
    padding: 5vh 10vw;
}

header {
    position: absolute;
    top: 0;
}

header p{
    padding-left:1.5rem;
    background-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/></svg>');
    background-repeat:no-repeat;
    background-position: 0 0.2rem;
}

main h1 {
    margin-top: 9vw;
    font-size: calc(1.5rem + 4vw);
    text-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

main h1 span {
    color: #5FB3F2;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}